{% apply inline_css %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% trans %}Your account has been deleted{% endtrans %}{% endblock %}</title>
    </head>
    <body>
    <h1>{% trans %}Your account has been deleted{% endtrans %}</h1>
    <h2>{% trans %}Here is your information, they have been deleted{% endtrans %}</h2>
    <ul>
        <li>Email: {{ details.email }}</li>
        <li>Url publique: {% if url is defined and url is not empty %} {{ url }}
            {% else %} <em>Pas d'url publique </em>
            {% endif %} </li>

    </ul>
    {% embed "_template-parts/_lines-list_email.html.twig" with {'list': details.lines}  %}
        {% block actions %} {% endblock %}
    {% endembed %}
{#    {% embed "_template-parts/_lines-list_email.html.twig" with {'list': details.lines} %}#}
{#        {% block actions %} {% endblock %}#}
{#    {% endembed %}#}

    <h5 style="margin-top: 5rem">Envoyé depuis <a href="https://medocs.be">Medocs.be</a> {{ "now"|date('d.m.y') }}</h5>
    </body>
    </html>
{% endapply %}