<h1>Merci de votre inscription.</h1>

<p>Il ne reste plus qu'une étape, confirmer votre adresse email.</p>

<p>Il vous suffit de cliquer sur <a href="{{ signedUrl|raw }}">ce lien</a> pour confirmer terminer votre inscription.
Attention, ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. Passé ce délai il faudra recommencer.
</p>

<p>
    <a href="{{ path('public_index') }}">Medocs.be</a>
</p>
