{% apply inline_css %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Liste de médicaments !{% endblock %}</title>

    <style>

    </style>
</head>
<body>
    <h1>{{ app.user.email }} a choisi de vous envoyer sa liste de médicaments.</h1>

    {% embed "_template-parts/_lines-list_email.html.twig" %}
        {% block actions %} {% endblock %}
    {% endembed %}

    <h5 style="margin-top: 5rem">Envoyé depuis <a href="https://medocs.be">Medocs.be</a> &nbsp; &nbsp; ({{ "now"|date('d.m.y') }})</h5>
</body>
</html>
{% endapply %}