{% extends 'base_back.html.twig' %}

{% block title %}Dose update{% endblock %}
{% block header_h1 %}
    Dosage / Posologie
{% endblock %}
    {% block header_h1_icon %}
      <span class="material-icons-outlined">
        exposure
    </span>
{% endblock %}

{% block card_title %} Modifier {% endblock %}
{% block body %}

    {{ form(form) }}

{% endblock %}
