{% extends 'base_back.html.twig' %}

{% block title %}Index{% endblock %}

{% block header_h1 %} {{ app.user.email }}{% endblock %}
{% block body %}
    <div id="index">


        <h1 class="h3 mb-3 font-weight-normal">Admin .::. Accueil</h1>


        <p>Bienvenue à l'accueil</p>
    </div>
{% endblock %}

