{% set object = 'line' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'Add_product' |trans }}{% endblock %}

{% block body %}

    <section
            class="bg-surface-light/50 dark:bg-surface-dark/30 p-3 sm:p-5 space-y-8" {{ stimulus_controller('modale-dose modale-product') }}>
        <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
            <div class="bg-surface-light dark:bg-surface-dark relative shadow-md sm:rounded-lg overflow-hidden">

                <twig:title:h2 class="p-4">Ajouter</twig:title:h2>

                {% include 'member/product/list/_form.html.twig' with {
                    'form': form,
                    'button_label': 'button.line.add',
                    'button_cancel_label': 'button.cancel_label',
                } only %}

                {% include 'member/product/list/_form_dose.html.twig' with {
                    'formDose': formDose,
                } only %}


            </div>
        </div>
    </section>

    {#    {% include 'member/product/list/_form.html.twig' with { #}
    {#        'button_label': 'button.line.add', #}
    {#        'button_cancel_label': 'button.cancel_label', #}
    {#    } %} #}



{% endblock %}
