
 /*@import "_back/header";
@import "_back/footer";
@import "_back/log_in";
@import "_back/forms";
@import "_back/flash";
*/
 /*body, #container{
   display: flex;
   flex-direction: column;

   padding: 0;
   margin: 0;
   min-height: 100vh;
 }*/

 /*
 #container {
   width: 100%;
   min-width: 100%;
   justify-content: space-between;
   align-content: center;

 } */
 @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
 @import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
 @import url(_back/reset.css);
 @import url(_back/colors.css);
 @import url(_back/_flash.scss);
 @import "_back/header";
 @import url(_back/card.scss);
 @import url(_back/list.scss);
 @import url(_back/buttons.scss);
 @import url(_back/register-forms.css);
 @import url(_back/_sidebar.css);
 @import url(_back/leftbar.css);
 @import url(_back/content.css);
 @import url(_back/_jauge.scss);

 body {
   background-color: var(--tertiary-light);
   color: var(--tertiary-darker);
   display: flex;
   flex-direction: column;
 }
 .top-visible{
   padding-top: 2.5rem;
   border-top: solid 2px var(--tertiary);
 }
 .bottom-visible{
   padding-bottom: 1.5rem;
   border-bottom: solid 2px var(--tertiary);
 }


 .center-4{
   justify-content: center;
   align-content: center;
   align-items: center;
 }

 .border-dashed-1{
   border: dashed 1px var(--tertiary);
 }
 .border-dashed-2{
   border: dashed 2px var(--tertiary);
 }

 table{
   width: 100%;
 }

 .flex-0 {
   flex: 0;
 }
 .size-09 {
   font-size: 0.9rem;
 }

 .size-1 {
   font-size: 1rem;
 }

 .size-1-1 {
   font-size: 1.1rem !important;
 }

 .radius-3 {
   border-radius: 3% !important;
 }

 .radius-5p {
   border-radius: 5px;
 }

 .bold {
   font-weight: 700;
 }

 .bolder {
   font-weight: 900;
 }

 .p06 {
   padding: .6rem;
 }

 .p1 {
   padding: 1rem;
 }

 .p1-5 {
   padding: 1.5rem;
 }

 .max-height {
   height: max-content;
   padding: 1rem 0;
 }

 .auto-height {
   height: auto;
   padding: 1rem 0;
 }

 .margin-horizontal-1 {
   margin: 0 .5rem;
 }

 .margin-horizontal-2 {
   margin: 0 1rem;
 }

 .margin-horizontal-1:first-child,
 .margin-horizontal-2:first-child {
   margin-left: 0;
 }

 .margin-horizontal-1:last-child,
 .margin-horizontal-2:last-child {
   margin-right: 0;
 }

 .inline {
   display: inline;
 }


 .container-fluid{
   width: 100%;
   min-width: 100%;
   flex-direction: row;
 }

 .container, .container-left {
   flex: 1;
   padding: 1.5rem;
 }

 .container {
   max-width: 80rem;
   height: 100%;
   min-height: 100%;
   align-self: center;

 }

 #logo{
   flex: 0;
 }
 .container-left {
   width: 80%;
   max-width: 80%;
   height: 100%;
   min-height: 100%;
   align-self: flex-start;
   border-top-right-radius: 35px;
   border-bottom-right-radius: 35px;
   align-items: center;
 }

 .toolbar {
   width: 90%;
   align-items: center;
   justify-content: space-between;
   flex-direction: revert;
   flex: 0;
   margin-top: 1rem;
   margin-bottom: 5rem;
 }

 .toolbar .title {
   font-size: 1.4rem;
   font-weight: bolder;
 }

 .ustration {

   background-image: url("../images/2341-ai(2).png");
   background-repeat: no-repeat;
   background-position: 96% 60%;
   background-size: 0%;
 }


 .no-margin {
   margin: 0 !important;
 }

 .margin-v-1{
   margin: 1rem 0;
 }


 .social-connect:before {
   content: "OR";
   text-align: center;
   position: absolute;
   top: -10px;
   background-color: white;
   padding: 0 .5rem;
 }

 .social-connect {
   margin-top: 2rem;
   flex-direction: row;
   justify-content: space-around;
   border-top: dotted 1px;
   padding: 1rem;
 }

 .social-connect-item {

 }

 .social-connect-item .button {
   font-family: 'Roboto', sans-serif;
   display: flex;
   align-self: center;
   width: max-content;
   padding: 1rem 1rem 1rem 1.8rem;
   border: solid 1px var(--tertiary);
   color: var(--tertiary-darker);
   font-weight: 400;
   align-content: center;
 }

 .google:before {
   background-image: url("../icons/google-logo.png");

 }

 .facebook:before {
   background-image: url("../icons/logo-facebook.webp");
 }

 .google:before,
 .facebook:before {
   content: "";
   background-size: 20px 20px;
   background-repeat: no-repeat;
   background-position: center left;
   margin-left: -20px;
   width: 30px;


 }

 .decoration-up,
 .decoration-down {
   background: radial-gradient(circle, violet 17%, transparent 5%);
   background-size: 1rem 1rem;
   background-repeat: repeat;

   display: flex;
   flex: 1;
   width: 3rem;
   height: 3rem;
   min-height: 3rem;
   max-height: 3rem;

   position: absolute;
   right: 0;
 }

 .flow-row{
   flex-direction: row;
 }
 .flow-reverse{
   flex-direction: row-reverse;
 }

 .decoration-up {
   top: 0;
 }

 .decoration-down {
   bottom: 0;
 }

 @media (min-width: 576px) {

 }

 @media (min-width: 768px) {
   .container-left {
     width: 60%;
     max-width: 60%;
   }

   .ustration {
     background-size: 30%;
   }


   .decoration-up,
   .decoration-down {
     width: 6rem;
     height: 6rem;
     min-height: 6rem;
     max-height: 6rem;
   }
 }

 @media (min-width: 992px) {
   .ustration {
     background-image: url("../images/2341-ai(1).png");
     background-position: 99% 50%;
     background-size: 40%;
   }
 }

 @media (min-width: 1200px) {

 }


