<button {{ attributes.defaults({
    class: 'cursor-pointer inline-block w-full md:w-20 bg-base-light capitalize text-center font-semibold hover:underline underline-offset-8 drop-shadow-lg border border-gray-300 text-content-primary-light rounded-lg focus:ring-2 focus:ring-base-dark focus:border-base-dark p-2.5 dark:bg-base-dark/80 dark:border-base-dark/80 dark:placeholder-content-primary-dark/40 dark:text-content-primary-dark/70 dark:focus:base-dark/80 dark:focus:border-base-dark/80 focus:ring-base-dark/20 focus:outline-none focus-visible:ring'
}) }}>
    {{ content|default('Ajouter') }}
</button>
