<button type="submit"
        class="text-content-primary-light bg-content-secondary hover:bg-content-secondary/80 focus:ring-4 focus:outline-none focus:ring-content-secondary/50 font-medium rounded-lg text-sm px-5 py-3 text-center dark:bg-content-secondary/90 dark:hover:bg-content-secondary/70 dark:focus:ring-content-secondary/80">
   {% block content %} {% endblock %}
</button>