{% extends 'base_security.html.twig' %}

{% block body %}
    <article style="text-align: left">
        <h2>Conditions d'utilisaton.</h2>

        <p>Medocs.be a pour but de vous aider à :</p>
        <ul>
            <li>Mémoriser une liste de médicaments, pour vous même ou pour l'un de vos proches.</li>
            <li>Transmettre cette liste à une autre personne, quelqu'un de votre entourage. Peut-être un soignant ou un
                aidant.
            </li>
            <li>De disposer une page publique et annonyme.</li>
        </ul>
        <p>Rien de plus.</p>

        <p>A votre arrivée on ne vous demande que votre email et votre mot de passe. Lors de votre départ on effacera
            tout.</p>

        <p>Aucune information n'est envoyée nulle part.</p>

        <p><strong>Des Cookies</strong> peuvent être placé sur votre ordinateur. C'est simplement pour votre confort
            d'utilsation.</p>
    </article>
{% endblock %}