{% extends 'public/base.html.twig' %}
{% block header %} {% endblock %}
{% block body %}
    <div role="main">
        <section class="hero">
            <h1>Gérez Vos Listes de Médicaments Facilement </h1>
            <article id="pitch">
                <h2>
                    Medocs.be vous simplifie la gestion des médicaments. Enregistrez vos prescriptions, partagez-les en
                    un clic et restez à jour, où que vous soyez. Idéal pour les personnes âgées et les personnes en
                    situation de handicap.
                </h2>

                <h3>Avantages de Medocs.be :</h3>
                <ul>
                    <li>Rapidité : Inscription en une minute.</li>
                    <li>Simplicité : Gérez vos médicaments facilement.</li>
                    <li>Partage Facile : Envoyez par e-mail ou code QR.</li>
                    <li>Sécurité : URL anonyme pour un partage sécurisé.</li>
                </ul>
                <h3>Arrêtez les listes papier. Promis, on ne vous demandera qu'un' email et ton mot de passe</h3>
            </article>
            <div class="cta">

                <a href="{{ path('app_register') }}" class="btn bg-primary text-white font-black main-cta">Je Gère !</a>
                <a href="{{ path('app_login') }}" class="btn btn-basic text-primary border-primary">Connexion</a>
            </div>
        </section>

    </div>
{% endblock %}
