{% extends 'public/base.html.twig' %}
{% block header %} {% endblock %}
{% block body %}
    <div id="container" role="main">
        <section class="hero">
            <h1>Comment mémoriser ma liste de médicaments ?</h1>
            <article id="pitch">
                <h2>
                    Inscris toi en une minute et commence à encoder ta liste de médicaments. Tu pourra vite la partager:
                </h2>
                <ul>
                    <li>En envoyant un émail à la personne de ton choix.</li>
                    <li>De créer une 'url publique'. Une url anonyme acceptissible à tout le monde.</li>
                </ul>
            </article>
            <div class="cta">
                <a href="{{ path('app_register') }}" class="btn bg-primary text-white main-cta">Inscription</a>
                 <a href="{{ path('app_login') }}" class="btn btn-basic text-primary border-primary">Connexion</a>
            </div>

            <h3>Promis, on ne te demandera que ton adresse email et ton mot de passe</h3>
        </section>
        <section class="index">
            <h3>Comment mémorise ma liste de médicaments ?</h3>

            <p>Mémoriser une liste de médicament est simple au départ, chacun vas réagir en fonction de qui il est.  Papy a son cahier ou son bloc note, voire il retient tout avec sa tête (c'est vrai que c'est un bon exercice).  Le fiston a son appli Notion ou quelque chose sur Android ou Iphone.  Maman ou papa utilisent l'ordinateur du boulot.</p>

            <p>Tout dépends de tes goûts, de tes connaissances et de la taille de la liste.</p>

            <p>Allez ! On sait que si la liste de médocs est longue c'est rébarbatif car personne n'aime faire l'énumération des différents médicaments que l'on doit prendre chaque jour.</p>

            <p>Et si la liste change.... et bien oui si tu  est malade les médecins adorent changer le nom ou la molécule de ta potion journalière.  Au fait c'est plus deux fois que tu dois le prendre: c'est trois fois.</p>

            <p>Zut je n'ai pas l'ordinateur sur moi, mais où j'ai mis cette feuille.</p>

            <p>Regardez Papy, il avait fait une liste avec sa belle écriture.  Bah c'est juste une rature et l'écriture est toujours aussi belle.  Encore une changement ? On reviens au médicament d'avant ?</p>

            <p>Alors la liste elle fini dans la corbeille ou elle devient incomplète  dans le virtuel. Parce que tout le monde sait qu'un fichier on ne l'efface pas, il prends de la place.</p>

            <p>Alors qu'il y a medocs.be](http://medocs.be) !</p>

            <p>Tu t'inscris en une minute et c'est parti.  Tu enregistre les trucs que tu prends , tu met aussi quand et combien,  c'est important. Ça y est ta liste de médicament est dans ta poche.</p>

            <p>Et si tu n'aime pas, une minute te suffira</p>

            <h3>
                Tu dois prendre des médicaments régulièrement et pour pouvoir en communiquer la liste à des proches, à
                de nouveaux soignants etc.
            </h3>

            <h4>Pour retenir cette liste:</h4>
            <ul>
                <li>Si tu écris cette liste sur un papier, tu le perds.</li>
                <li>Si tu fais un document excel tu le perd (peut-être excel n’est pas ton truc)</li>
            </ul>

            <h4>Si tu dois donner liste:</h4>
            <ul>
                <li>Si dois faire des photocopies</li>
                <li>tu dois faire un email</li>
            </ul>


            <h3>Comment transmettre ma liste de médicaments facilement ?

                <br/> <br/> Deux possibilités:</h3>
            <ul>
                <li>Indique une adresse email et cliques sur ‘envoyer’ et la personne de ton choix reçoit ta liste en
                    quelques
                    secondes.
                </li>
                <li>Crées une adresse publique, transmets cette adresse à la personne de ton choix. Au fait, ton nom
                    n’apparaît
                    pas sur la page publique.
                </li>
            </ul>
        </section>
        {# <section class="index"> #}
        {# <h3><a id="infos">Comment fonctionne Mes Médocs ?</a></h3> #}
        {# <p> #}
        {# Simple. <br/> #}
        {# Tu t'enregistre en fournissant simplement ton adresse email et un mot de passe, tu encode ensuite #}
        {# les différents médicaments que tu prends et tu indique la quantité et la fréquence. #}

        {# <br/>Après tu as la possibilité de : #}
        {# </p> #}
        {# <ul> #}
        {# <li>Envoyer ta liste par emal à la personne de ton choix. Il suffira d'indiquer l'adresse email #}
        {# et de cliquer sur 'envoyer'. #}
        {# </li> #}
        {# <li>De créer une 'url publique'. Une url qui montre votre liste de médicaments, qui ne contient pas #}
        {# votre nom #}
        {# et acceptissible à tout le monde. #}
        {# </li> #}
        {# </ul> #}

        {# <a href="#" class="btn btn-basic text-primary-darker border-primary  "> #}
        {# <i class="fab fa-github"></i> Github </a> #}

        {# </section> #}
    </div>
{% endblock %}
