#content {
    flex-basis: 100%;
    background-color: $tertiary;
    padding: .75rem;
    /*padding: 1.5rem 1.8rem 1.5rem .75rem;*/
}


#content #content-logo.hide {
    margin-top: -5.9rem;

}

#content #content-logo {
    flex: 0;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: $primary;
    transition: margin-top .75s ease-in-out;
}

.chart-legend {
    flex-basis: 100%;
    font-family: 'Roboto', sans-serif !important;
    color: $primary;
    font-weight: bold;
    /*flex: 0;*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chart-legend h3 {
    color: $primary-darker;
    font-weight: bolder;
}

.chart-legend ul {
    display: inline-flex;
}

.chart-legend ul li {
    margin-right: 1.5rem;
    list-style-type: none;
}



@media screen and (min-width: 600px) {
    #content {
        padding: 1.5rem 1.5rem 1.5rem .75rem;
        /*padding: 1.5rem 1.8rem 1.5rem .75rem;*/
    }

}
@media screen and (min-width: 1200px) {
    #content #content-logo {
        margin-top: -6rem;
        transition: margin-top .9s ease-in-out;
    }

    #content #content-logo.show {
        margin-top: 0;
    }

}


@media (min-width: 14000px) {
    #content {
        padding: 1.5rem 3rem 1.5rem 1.5rem;
    }
}