.alert{
  display: flex;
  padding: 1rem;
  border: solid 1px;
  height: 2rem;
  max-height: 2rem;
  justify-content: center;
}

.alert.alert-success{
  background-color: var(--success-light);
  color: var(--success);
  border-color: var(--success);
}
.alert .alert-success{
  background-color: var(--success);
}

.alert.alert-notice{
  background-color: var(--notice-light);
  color: var(--notice);
  border-color: var(--notice);
}

.alert.alert-danger,.alert.alert-error{
  background-color: var(--danger-light);
  color: var(--danger-darker);
  border-color: var(--danger-darker);
}