.alert{
  display: flex;
  padding: 1rem;
  border: solid 1px;
  height: 2rem;
  max-height: 2rem;
  justify-content: center;
}

.alert.alert-success{
  background-color: $success-light;
  color: $success;
  border-color: $success;
}
.alert .alert-success{
  background-color: $success;
}

.alert.alert-notice{
  background-color: $notice-light;
  color: $notice;
  border-color: $notice;
}

.alert.alert-danger,.alert.alert-error{
  background-color: $danger-light;
  color: $danger;
  border-color: $danger;
}