.flow-column {
  flex-direction: column !important;
}

.flow-row {
  flex-direction: row !important;
}

.vertical-list,
.notification-list {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 0;
  min-width: 100%;
}

.vertical-list .list-item,
.notification-list .list-item {
  list-style-type: none;
  flex-direction: row;
  display: flex;
  margin-bottom: 1rem;
}

.vertical-list .list-item .actions{
  display: flex;
  flex-direction: row;
  max-width: max-content;
}

.vertical-list .list-item {
  padding: 0 .8rem;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 0;
  justify-content: space-between;
}


.vertical-list .list-item > div,
.notification-list .list-item > div {
  flex-basis: max-content;
}

.vertical-list .list-item i,
.notification-list .list-item i {
  margin-right: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  width: 2.95rem;
  height: 2.95rem;
  align-self: center;
}

.vertical-list .list-item img,
.notification-list .list-item img {
  display: none;
}

.vertical-list .list-item i,
.notification-list .list-item i {
  background-color: $tertiary-light;
  font-size: 1rem;
  padding: 1rem;
}

.vertical-list .list-item h2,
.vertical-list .list-item h3,
.notification-list .list-item h2,
.notification-list .list-item h3 {
  margin: 5px 0;
}

.vertical-list .list-item h2,
.notification-list .list-item h2 {
  font-size: 0.745rem;
  color: $primary-darker;
  font-weight: 700;
}

.vertical-list .list-item h3,
.notification-list .list-item h3 {
  font-size: .688rem;
  color: $primary-light;
  font-weight: 900;
}

.vertical-list .list-item.alternate:nth-child(even) {
  background-color: $tertiary-light;
}

.horizontal-item {
 margin: 5px 0;
}

.horizontal-item div:first-child{
  justify-content: center;
  display: flex;
  flex-direction: row;
}


.horizontal-item input {
  max-height: 3rem;
}

.horizontal-item.end-60 {
  flex: 0;
  flex-basis: 60%;
  align-content: stretch;
  justify-content: end;
}

.horizontal-item.start-40 {
  flex: 0;
  flex-basis: 40%;
  align-content: stretch;
  justify-content: start;
}

.horizontal-item.start-40 .card,
.horizontal-item.end-60 .card {
  max-width: 100%;

}

.horizontal-item img {
  margin: 0 6px;

}


.horizontal-labels {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.horizontal-labels .label {
  background-color: $tertiary-light;
  font-size: .75rem;
  max-width: max-content;
  padding: 5px;
  margin: 1px 5px;
  border-radius: 3px;
  color: $tertiary-darker;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.horizontal-labels .label:first-child {
  margin-left: 0;

}

.horizontal-labels .label:last-child {
  margin-right: 0;

}

.menu-top,
.menu-page {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
}


.menu-page {
  font-size: .75rem;
}

.menu-top .menu-top-item,
.menu-page .menu-page-item {
  list-style-type: none;
  text-transform: capitalize;
  font-weight: bold;
}

.menu-page .menu-page-item {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.menu-page .menu-page-item.active {
  background-color: $white;
  color: $tertiary-darker;
}

.menu-page .menu-page-item.active-alt {
  background-color: $danger;
  color: $white;
}

.menu-page .menu-page-item,
.menu-page .menu-page-item a:link,
.menu-page .menu-page-item a:hover,
.menu-page .menu-page-item a:visited,
.menu-page .menu-page-item a:active
.menu-top .menu-top-item,
.menu-top .menu-top-item a:link,
.menu-top .menu-top-item a:hover,
.menu-top .menu-top-item a:visited,
.menu-top .menu-top-item a:active {
  /* color: $primary-darker;*/
  color: $primary-light;
}


#messages .menu-top .menu-top-item a:active {
  color: $primary-darker;
}

.menu-page .menu-page-item.active,
.menu-page .menu-page-item.active a:link,
.menu-page .menu-page-item.active a:hover,
.menu-page .menu-page-item.active a:visited,
.menu-page .menu-page-item.active a:active {
  color: $tertiary-darker;
}

.menu-page .menu-page-item.active-alt,
.menu-page .menu-page-item.active-alt a:link,
.menu-page .menu-page-item.active-alt a:hover,
.menu-page .menu-page-item.active-alt a:visited,
.menu-page .menu-page-item.active-alt a:active {
  color: $white;
}


.menu-top .menu-top-item.active:before {
  position: absolute;
  content: " ";
  border-bottom: solid 2px $notice;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  left: 0;
}


.menu-top .menu-top-item.active a:link,
.menu-top .menu-top-item.active a:hover,
.menu-top .menu-top-item.active a:visited,
.menu-top .menu-top-item.active a:active {
  color: $primary-darker;
  font-size: 1.1rem;
}

.menu-top .menu-top-item.active {
  position: relative;
}

.menu-top .menu-top-item:first-child {
  padding-left: 0;
}

.menu-top .menu-top-item {
  font-size: 1.1rem;
  padding: .5rem 2rem;
}

/*600px*/

@media screen and (min-width: 600px) {


  .horizontal-group {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex: 0;
  }

  .horizontal-item {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    /*lign: right;*/
  }
}

@media (min-width: 1200px) {
  .notification-list .list-item i {
    background-color: $tertiary-light;
    font-size: 2rem;
    padding: 1rem;
  }
}

@media (min-width: 1400px) {
  .menu-page {
    font-size: 1rem;
  }

  .menu-top .menu-top-item.active a:link,
  .menu-top .menu-top-item.active a:hover,
  .menu-top .menu-top-item.active a:visited,
  .menu-top .menu-top-item.active a:active {
    font-size: 1.6rem;
  }

  #messages .menu-top .menu-top-item.active a:link,
  #messages .menu-top .menu-top-item.active a:hover,
  #messages .menu-top .menu-top-item.active a:visited,
  #messages .menu-top .menu-top-item.active a:active {
    color: $primary-darker;
    font-size: 1.1rem;
  }

  .notification-list .list-item h2 {
    font-size: 0.945rem;
  }

}

@media (min-width: 1600px) {
  .notification-list .list-item i,
  .notification-list .list-item img {
    margin-right: 1rem;
    width: 2.95rem;
    height: 2.95rem;
  }

  .notification-list .list-item img {
    display: flex;
  }


  .horizontal-labels .label {
    font-size: .85rem;
    padding: .6rem;
    margin: 0 10px;
  }
}

@media  screen and (min-width: 1700px) {
  .notification-list .list-item i,
  .notification-list .list-item img {
    margin-right: 1rem;
    width: 3.75rem;
    height: 3.75rem;
  }

  .notification-list .list-item h2 {
    font-size: 0.9755rem;
  }

  .notification-list .list-item h3 {
    font-size: .896rem;
  }
}
