form,
#login,
#register {
    max-width: 100%;
    width: 100%;
    align-self: center;
    /*justify-content: center;*/
}

#login h1,
#register h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: $primary-darker;
    margin-top: 1rem;
    font-size: 1.5rem !important;
}

#login p,
#register p {
    color: $tertiary;
    font-size: .95rem;
    line-height: 1.45rem;
    /* color: #ECEFF6; */
}

form .form-row,
#login .form-row,
#register .form-row {

    margin: .75rem 0;
}

#login .form-row-horizontal,
#register .form-row-horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: min-content;
}

#login .form-row-horizontal > div,
#register .form-row-horizontal > div {
    flex-direction: row;
    max-width: max-content;
}

form label,
#login form label,
#register form label {
    background-color: $white;
    color: $primary;
    font-size: .9rem;
    margin-bottom: -.15rem;
    z-index: 1;
    display: inline-flex;
    width: max-content;
    margin-left: 1rem;
    padding: 0.8rem 0.8rem 0 0.8rem;
}

form input,
#login form input,
#register form input
select {
    line-height: 3rem;
    /* border: solid 1px rgba(189, 189, 190, .6;*/
    border: solid 1px $primary-light;
    border-radius: 0.25em;
    font-size: 1.05rem;
    padding-top: 5px;
    padding-left: 5px;
}

#login form input:active,
#register form input:active {
    border: solid 1px $tertiary;
}


#login, form input[type=submit],
#register form input[type=submit],
.submit {
    font-size: 1.1rem;
    font-weight: bold;
    padding: .7rem;
    margin-top: 1rem;

}

#login form input[type=password]
#register form input[type=password] {
    background: url("../../icons/visibility.svg") no-repeat 96% 50%;
    background-size: 1rem;;
}

#login form input[type=password]:focus,
#register form input[type=password]:focus {
    background: none;
}

select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    height: 3rem;
    max-height: 3rem;
    border-radius: 0.25em;
    font-size: 1.05rem;
    cursor: pointer;
    color: $primary;
    line-height: 1.1;
    background-color: $primary-lighter;
    background-image: linear-gradient(to top, $primary-lighter), #fff 33%;
    border: solid 1px $primary-light;
}

select::-ms-expand {
    display: none;
}

/*600px*/
@media (min-width: 38rem) {
    #login,
    #register h1 {
        font-size: 2.2rem;
    }

    form,
    #login,
    #register {
        max-width: 80%;
        width: 80%;
    }

    form .form-row,
    #login .form-row,
    #register .form-row {

        margin: 2rem 0;
    }
}

@media (min-width: 768px) {
    #login,
    #register {
        /* max-width: 0%; */
    }
}

@media (min-width: 992px) {
    #login,
    #register {
        /* max-width: 50%; */
    }
}
