.card {
  background-color: white;
  padding: .9rem;
  border-radius: 5px;
  max-height: min-content;
  /* flex: 0;*/
  margin: .6rem 0;
  /*width: 25rem;*/
  max-width: 25rem;
  align-self: stretch;
}


#leftbar .card .info {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: var(--tertiary-darker);
  opacity: .45;
  text-align: right;
  font-size: 0.688em;
}

#leftbar .card .card-header {
  margin-bottom: 3rem;
  align-items: center;
}

.card .card-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1.8rem;
  max-height: 1rem;
  /*padding-bottom: 1rem;*/
}

.card .card-header .title {
  color: var(--primary-darker);
  font-weight: 900;
  font-size: 1.4rem;
}

.card .card-header .btn-vertical,
.card .card-header .btn-like {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  opacity: .85;
  margin-top: 5px;
}

.card .card-header .btn-vertical {
  background-image: url("../../icons/ellipsis-v-solid.svg");
  width: 1.1rem;
  height: 1rem;
}

.card .card-header .btn-like {
  background-image: url("../../icons/heart-regular.svg");
  width: 1.6rem;
  background-size: 1.4rem 1.4rem;
  height: 1.6rem;
  opacity: 50%;
  align-self: flex-start;
  margin-top: -2px;
}

.card .card-body {
  flex-direction: row;
  justify-content: stretch;
  font-weight: bold;
}


.card .actions .btn {
  height: 2rem;
  align-self: flex-end;
  margin: 5px;
  width: 8rem;
}


.card .no-image {
  padding-left: 30%;
}

.card.horizontal {
  flex-direction: row;
  padding: 0;
}

.card.horizontal .card-header {
  margin-bottom: .5rem;
  margin-top: .5rem;
  max-height: min-content;
}

.card.horizontal .card-header .title {
  color: var(--tertiary-darker);
  font-weight: 900;
  font-size: 1rem;
}

.card.horizontal img {
  width: auto;
  height: 14rem !important;
  margin: .9rem;
  align-self: center;
  border-radius: 5px;
}

.card.horizontal .panel-right {
  padding: .85rem;
}

.card.horizontal .panel-right .description {
  margin: .25rem 0;
  padding: .25rem 1px;
  color: var(--primary-light);
  font-weight: bold;
  font-size: .875rem;
}

.card.horizontal .panel-right .actions {
  flex-direction: row;
  justify-content: space-between;
}

.card.horizontal .panel-right .actions .btn {
  font-size: .8rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;

}

.wfull {
  max-width: 100%;
}

.card table {
  border-collapse: collapse;
}
.card table .center{
  text-align: center;
}

.card table tr {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

.card table tr.header {
  background-color: var(--tertiary-light);
  color: var(--primary-darker);
}

.card table th {
  text-align: left;
  padding: .8rem 0 .8rem 5px;
}

.card table tr td h4,
.card table tr td h5 {

  margin-top: 0;
  margin-bottom: 0;
}

.card table tr td h4 {
  font-size: 0.976rem;
  color: var(--primary-darker);
  font-weight: 700;
}

.card table tr td h5 {
  font-size: .896rem;
  color: var(--primary-light);
  font-weight: 900;
}

.card table tr td.complexe {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.card table tr td.complexe > div {
  justify-content: center;
  margin: 1rem 0;
}

.card table tr td img {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 5px;
}

.card table tr td .fa-star {
  color: #F8AA00;
}


.card .card-profil-image {
  flex-direction: row;
  align-items: center;
}

.card .card-header .flow-column h2,
.card .card-profil-image h2 {
  font-size: 1.1rem;
  color: var(--primary-darker)
}

.card .card-header .flow-column h3,
.card .card-profil-image h3 {
  font-size: .875rem;
  color: var(--tertiary-darker)
}

.card .card-header .flow-column h2,
.card .card-header .flow-column h3,
.card .card-profil-image h2,
.card .card-profil-image h3 {
  margin: 0;
  font-weight: bold;
}

.card .card-header .flow-column h3.online {
  padding-left: 15px;
  position: relative;
}

.card .card-header .flow-column h3.online:before {
  content: "";
  background-color: var(--success);
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  display: inline-flex;
  left: 0;
  bottom: 2px;
}

.card .card-profil-image .image {
  display: block;
  position: relative;
}

.card .card-profil-image .image::after {
  content: "";
  width: 0.825em;
  height: 0.825em;
  position: absolute;
  display: block;
  z-index: 100;
  bottom: 9px;
  right: 13px;
  background-color: var(--success);
  border-radius: 50%;
}

.card .card-profil-image img {
  width: 3.625em;
  height: 3.625em;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}

@media (min-width: 980px) {
  .card.horizontal {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .card.horizontal {
    flex-direction: row;
  }

  .card.horizontal img {
    height: 10rem !important;
  }


  .card .actions {
    flex-direction: row;
    justify-content: flex-end;
  }

  .card .actions .btn {
    height: 2rem;
    margin: 5px;
    width: 5rem;
  }
}

@media (min-width: 1500px) {
  .card.horizontal .panel-right {
    padding-left: 0;
  }

  .card.horizontal img {
    height: 12rem !important;
    margin: 0 .8rem;
  }
}

@media (min-width: 1600px) {
  .card.horizontal img {
    height: 14rem !important;
    margin: 0 .9rem;
  }

  .card.horizontal .card-header .title {
    font-size: 1.1rem;
  }
}

@media (min-width: 1700px) {

  .card.horizontal .card-header .title {
    color: var(--tertiary-darker);
    font-weight: 900;
    font-size: 1.2rem;
  }

  .card.horizontal .panel-right .description {
    font-size: 1rem;
  }

  .card.horizontal .panel-right .actions .btn {
    font-size: 1.1rem;
    padding: 1.5rem;
    font-weight: bold;
  }
}