#sidebar {
    flex: 0 0 18%;
    min-width: 10rem;
    max-height: 96vh;
    padding: 1.1rem;
    font-family: 'Roboto', sans-serif;
}

#sidebar a:link,
#sidebar a:visited,
#sidebar a.btn.btn-basic:link,
#sidebar a.btn.btn-basic:visited{
    color: var(--white);
    text-decoration: none;

}

#sidebar ul.menu-vertical{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    padding: 0;
    font-size: .9rem;
}


#sidebar ul.menu-vertical li{
    flex-basis: auto;
    list-style-type: none;
    padding: .5rem;
    border-radius: 5px;
    padding-left: 2rem;
}

#sidebar ul.menu-vertical li.active {
    background-color: var(--white);
}
#sidebar ul.menu-vertical li.active a{
    color: var(--primary) !important;
}

#sidebar ul.menu-vertical li i{
    margin-left: -1.8rem;
    margin-right: .85rem;
}
