{% block footer %}
    <footer>
        <ul>
            <li><h6><a href="https://jphnovitz.be">Novitz Jean-Philippe</a> 2021</h6></li>
            <li>
                <a href="https://github.com/jphNovitz"> <i class="fab fa-github"></i> </a> ~
                <a href="https://instagram.com/jphnovitz"> <i class="fab fa-instagram"></i> </a> ~
                <a href="https://facebook.com/jphnovitz"> <i class="fab fa-facebook-square"></i> </a>
            </li>
        </ul>
    </footer>
{% endblock %}